<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Daftar Pelanggan</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <td>No</td>
        <td>Nomor KTP</td>
        <td>Nama Pelanggan</td>
        <td>Resitrasi Rumah</td>
        <td>Aksi</td>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="listPelanggan" type="com.tabeldata.pln.controller.PelangganController"*/-->
    <tr th:each="value, iterStat : ${listPelanggan}">
        <td th:text="${iterStat.count}">1</td>
        <td th:text="${value.nomorKtp}"></td>
        <td th:text="${value.nama}"></td>
        <td><a href="/pelangan/rumah/new" th:href="@{'/pelanggan/rumah/'+ ${value.id}}">Registrasi Rumah</a></td>
        <td>
            Delete |
            <a href="/pelanggan/1" th:href="@{'/pelanggan/'+ ${value.id}}">Edit</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>